<div class="osf-tb-row {{if selected 'osf-tb-selected'}}" >
    <div class="osf-tb-column">
        {{#if (eq item.kind 'folder')}}
            <i class="fa fa-folder"></i>
        {{else}}
            <i class="fa fa-file"></i>
        {{/if}}
    </div>
    {{#each columns as |column|}}
        <div class="osf-tb-column" style="width: {{column.width}}">{{get item column.data}}</div>
        {{log column.data}}
    {{/each}}
</div>
